{% extends 'Base.html' %}
{% block content %}
{% load static %}
<h2 class="h2" style="text-align:center">Upcoming Events</h2>

<div class="row">
  {% for event in events %}
  <div class="col-md-3">
    <div class="card mb-3">
      {% if event.image %}
      <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
      {% else %}
      <img src="{% static 'images/coming.jpg' %}" class="card-img-top" alt="Default Event Image">
      {% endif %}
      <div class="card-body text-center bg-light">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text">{{ event.date }}</p>
        <button class="btn btn-outline-secondary " data-bs-toggle="modal" data-bs-target="#eventModal{{ event.id }}">
          View More
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="eventModal{{ event.id }}" tabindex="-1" aria-labelledby="eventModalLabel{{ event.id }}"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel{{ event.id }}">{{ event.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Date:</strong> {{ event.date }}</p>
          <p><strong>Time:</strong> {{ event.time }}</p>
          <p><strong>Location:</strong> {{ event.location }}</p>
          <p><strong>Description:</strong> {{ event.description }}</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}